project:
  type: website
  output-dir: docs

website:
  title: "Ruihang (Jason) Han"
  navbar: false

  sidebar:
    style: "floating"
    search: false
    contents:
      - href: index.qmd
        text: Home
      - href: research.qmd
        text: Research
      - href: projects.qmd
        text: Projects
      - href: cv.qmd
        text: CV

format:
  html:
    theme: flatly
    css: styles.css
    toc: true
    toc-depth: 3
    smooth-scroll: true
